<h3>Time logging notifications</h3>

<table>
    <tr>
        <th>Users to notify</th>
        <td>
            <select multiple="multiple" name="settings[recipients][]">
              <% User.active.each do |user| %>
                  <option
                    value="<%= user.id %>"
                    <%= if (Setting.plugin_time_logging_supervisor['recipients'] || []).include? user.id.to_s then 'selected="selected"' else '' end %>
                  >
                      <%= user %>
                  </option>
              <% end %>
            </select>
        </td>
    </tr>
    <tr>
        <th>
            Min. logged time
        </th>
        <td>
            <input type="text" value="<%= settings['min_time'] %>" name="settings[min_time]"><br>
        </td>
    </tr>
    <tr>
        <th>
            Max. logged time
        </th>
        <td>
            <input type="text" value="<%= settings['max_time'] %>" name="settings[max_time]">
        </td>
    </tr>
    <tr>
        <th>
            Roles to report zero logged time for
        </th>
        <td>
            <select multiple="multiple" name="settings[roles][]">
              <% Role.all.each do |role| %>
                  <option
                    value="<%= role.id %>"
                    <%= if (Setting.plugin_time_logging_supervisor['roles'] || []).include? role.id.to_s then 'selected="selected"' else '' end %>
                  >
                      <%= role.name %>
                  </option>
              <% end %>
            </select>
        </td>
    </tr>
</table>
